/**
* set variable
*/
:root {
  --primary-font-family: Arial, Helvetica, sans-serif;
  --font-code: Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
  --primary-font-size: 20px;
  --second-font-size: 18px;
  --third-font-size: 16px;
  --fourth-font-size: 15px;
  --fifth-font-size: 14px;
  --primary-line-height: 1.75;
  --second-line-height: 2;
  --background-image: #ffffff;

  /* set a attribute */
  --a-color:#1b1b1b;
  --a-color-hover:#f46363;
  --a-decoration:none;

   /* set code attribute */
   --code-header-background-color: #343540;
   --div-highlight-background-color: #000000;
}


body {
  font-family: var(--primary-font-family);
  font-size: var(--third-font-size);
  line-height: var(--primary-line-height);
  margin: 0 10%;
}

main {
  margin-bottom: 20px;
  width: 100%;
}

@media screen and (max-width: 600px) {

  body {
    margin: 0;
  }

  main {
    margin-bottom: 10px;
  }

}



/* value a attribute */
a {
  color: var(--a-color);
  text-decoration: var(--a-decoration);
}

a:hover {
  color: var(--a-color-hover);
  text-decoration: var(--a-decoration);
}


h1, h2, h3, h4, h5, h6, ul, ol, li {
  margin: 10px 0;
}

header {
  padding: 10px;
}

.logo-img {
  display: flex;
  justify-content: flex-start;
  height: 40px;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-bottom: #f46363 solid 3px;
}


a.nav-item {
  margin-right: 30px;
}


main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
}

.page-post {
  grid-column: 1;
  padding: 10px 0;
}

@media screen and (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
  }
}

.page-post-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(203, 203, 206);
}


.page-post-item-image {
  width: 75px;
  height: 75px;
  margin-right: 20px;
}

.page-post-item-text {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.page-post-item-heading {
  font-size: var(--primary-font-size);
  margin: 0;
  padding: 0;
  line-height: normal;
}

.post-excerpt p {
  font-size: var(--fifth-font-size);
  margin: 0;
  padding: 0;
  line-height: normal;
}

.pagination {
  margin: 10px 0;
  display: flex;
  justify-content: center;

}


@media screen and (max-width: 600px) {
  .page-post-item-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .page-post-item-text {
    height: 50px;
  }

  .page-post-item-heading {
    font-size: var(--third-font-size);
  }
}


.sidebar {
  grid-column: 2;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  
  .sidebar {
    display: none;
  }
}

.sidebar-content {

  margin: 10px 0;
  border-bottom: 1px solid rgb(203, 203, 206);
  max-height: 250px;
  overflow: hidden;
}

.sidebar-content img{
  display: block;
  max-width: 100%;
  max-height: 250px;
  margin: 0 auto;
  width: auto;
  height: auto;
}

.sidebar-content p {
  margin-bottom: 5px;
  font-size: 14px;
}

.related-post {
  margin-top: 20px;
  padding: 10px 0;
}

.related-post-title {
  border-bottom: #dddddd solid 2px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.post-content {
  grid-column: 1;
  overflow: hidden;
}


article {
  padding: 20px 0;
  word-break: break-all;
  
}

@media screen and (max-width: 600px) {
  
  article {
    padding: 10px;
  }
}

article img {
  margin: 10px auto;
  display: block;
}

/* value code attribute */
div.highlighter-rouge {
  display: block;
  font-family: var(--font-code);
  font-size: var(--fifth-font-size);
  background-color:var(--div-highlight-background-color);
  color: white;
  padding: 10px;
  border: 1px solid var(--code-header-background-color);
  border-radius: 10px;
  word-break: break-all;
  word-wrap: break-word;
  overflow-x: auto;
  max-height: 150px;
}



pre code {
  word-wrap: break-word;
  overflow-x: auto;
  max-width: 100%;
}



code.language-plaintext {
  background-color: rgb(241, 122, 182);
  padding: 2px;
  border: 1px solid rgb(203, 203, 206);
  border-radius: 5px;
  word-wrap: break-word;
  word-break: break-all;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  line-height: var(--second-line-height);
}

table {
  padding: 0;border-collapse: collapse; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }


li {
  margin: 0; 
  text-align: justify;  
}
ul, ol {
  padding-left: 10px; }

ul :first-child, ol :first-child {
  margin-top: 0; }

dl {
  padding: 0; }
  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    dl dt:first-child {
      padding: 0; }
    dl dt > :first-child {
      margin-top: 0; }
    dl dt > :last-child {
      margin-bottom: 0; }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    dl dd > :first-child {
      margin-top: 0; }
    dl dd > :last-child {
      margin-bottom: 0; }
      
blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; 
  margin: 15px 0;
}

blockquote > :first-child {
  margin-top: 0; 
}
  
blockquote > :last-child {
  margin-bottom: 0; 
}

p,li {
  word-break: break-all;
}















